doctype html
html(lang="en")
  head
    title Landing Page
  body
    h1 The furure home of something magical! 
    p 
      | Llamas or oink oink wind. Oranges cucumbers rhubarb gourds watermelon. Garden windmill chicks, hen at corn in, lettus a peppers. John Deere bees, parsley sweet corn at, porky pig shovels. . Brussel sprouts cow, rabbits a gates a, storage shed fences. Petting zoo at carrots alligators quack. Turkey daisys eggs squeal, horses moonshine apples raising Mooo tractor plow. Grapes nest pitch fork an plows mapl
      | yearlings, quilt squeak doggies. Cauliflower a seeds quail. Petting zoo bulls, Ducks in cabbage on, cauliflower irrigation Seeder onion. Brussel sprouts cow, rabbits a gates a, storage shed fences. Augers oats hen cowpies. Turkey daisys eggs squeal, horses moonshine apples raising Mooo tractor plow. Goose hammers cattle rats in crows. Sage mower goat, raccoons rhubarb outhouse a, apples berrie.
    
